body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Poppins, Helvetica, Arial, sans-serif;
}

button {
  margin: 20px 0px;
}

a {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.mix {
  height: 200px;
}

.transport-animation {
  height: 550px;
}

.skyline-container {
  background-color: #cad9d9;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  overflow: clip;
  position: relative;
  top: -500px;
  left: 65px;
  z-index: -999;
}

.scrolling-skyline {
  background: url('assets/skyline.svg') repeat-x;
  overflow: hidden;
  position: relative;
  animation: slideshow 4s linear infinite;
  width: calc(838px * 2);
  height: 100%;
}
