.food {
  transform-origin: 30% 40%;
  animation: loading 4s infinite;
}

.pan {
  transform-origin: 20% 60% 0;
  animation: shake 4s infinite;
}

.shadow {
  animation: pulse 4s infinite ease-in-out;
}

@keyframes loading {
  0%,
  30% {
    visibility: hidden;
    transform: rotate(-180deg);
  }
  35% {
    visibility: visible;
  }
  39%,
  41% {
    transform: scaleX(0.9) rotate(0deg);
  }
  60% {
    transform: rotate(180deg);
  }
  61%,
  100% {
    visibility: hidden;
  }
}

@keyframes shake {
  30% {
    transform: rotate(-20deg);
  }
  35% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  80% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0px);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
    transform-origin: 50% 0 0;
  }
  50% {
    transform: scaleX(0.7);
    transform-origin: 25% 0 0;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 50% 0 0;
  }
}

#front-fork {
  animation: bouncing-fork 2s infinite ease-in;
}

#rear-fork {
  animation: bouncing-fork 2s infinite ease-in;
}

@keyframes bouncing-fork {
  0% {
    transform: translateY(2px);
  }
  20% {
    transform: translateY(4px);
  }
  40% {
    transform: translateY(2px);
  }
  60% {
    transform: translateY(4px);
  }
  80% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(4px);
  }
}

.background,
.mask-group {
  animation: movement 2s alternate infinite ease;
}

@keyframes movement {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}

.rider-plus-bike {
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(100px);
  }
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-3%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-3%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
