body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whisk {
  animation: stir 1s infinite;
}

.star {
  animation: risingStar 3s infinite;
  animation-delay: 3s;
}

.star1 {
  animation: risingStar 4s infinite;
  animation-delay: 3s;
}

.star2 {
  animation: risingStar 6s infinite;
  animation-delay: 3s;
}

.star3 {
  animation: risingStar 8s infinite;
  animation-delay: 3s;
}

.circle {
  animation: risingCircle 3s infinite;
  animation-delay: 3s;
}

.circle1 {
  animation: risingCircle 4s infinite;
  animation-delay: 3s;
}

.circle2 {
  animation: risingCircle 7s infinite;
  animation-delay: 3s;
}

.mixture {
  animation: reveal 8s infinite;
}

.jug {
  transform: rotate(45deg);
  transform-origin: 50% 55% 0;
  animation: lifting 8s infinite;
}

@keyframes stir {
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes risingStar {
  100% {
    transform: scale(0);
    transform-origin: 50px 0px;
  }
}

@keyframes risingCircle {
  20% {
    transform-origin: left;
  }
  100% {
    transform: scale(0);
    transform-origin: 100px 0px;
  }
}

@keyframes reveal {
  35% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(50px);
  }
}

@keyframes lifting {
  50%,
  58% {
    transform: translateZ(50px);
  }
}
